@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-jetbrains-mono);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #1c2c30;
  /* Dark Slate Green (Reference) */
  --foreground: #f3f0e1;
  /* Off White (Reference) */
  --primary: #e7b92e;
  /* Gold (Reference) */
  --secondary: #263a3f;
  /* Slightly lighter shade for secondary components */
  --accent: #f0c54c;
  /* Lighter Gold */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}